//
// Component
// Modal
//

.Modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    max-height: 400px;
    background-color: #fff;
    border-radius: 2px;

    .ModalHeader {
        flex-shrink: 0;
    }
}


// Header

.Modal
.ModalHeader {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
    border-bottom: 1px solid transparent;
    text-align: center;
    transition: border-bottom-color .2s;

    .tools {
        padding-left: 25px;
        position: relative;
        z-index: 1;
    }

    .title {
        width: 100%;
        position: absolute;
        text-align: center;
        line-height: 60px;

        font-size: 14px;
        font-weight: 400;
        color: rgb(70, 70, 70);
    }

    .icon-dismiss {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        z-index: 1;
        cursor: pointer;
        transition: opacity .2s;

        svg * { fill: rgb(120, 120, 120); }
        &:hover { opacity: .6; }
    }
}

.Modal.show-header-border
.ModalHeader {
    border-bottom-color:rgb(235, 235, 235);
}


// Body

.Modal
.ModalBody {
    flex: 1 1 auto;
    padding: 20px 40px;
    position: relative;
    overflow: hidden;
}
